@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway');

.section{
	text-align: center;
	font-size: 2em;
}

.horizone {
	background-color: black;
	width: 100%;
	height: 1px;
}

.starkName{
	font-size: 2.3em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.starkSubName {
	font-size: 2em;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

.slogan {
	font-size: 1.2em;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

.newMessage {

}