@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway');


.headPage {
	width: 100%;
	height: 100%;
}

.starkName{
	font-size: 6em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.starkSubName {
	font-size: 2em;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

.slogan {
	font-size: 3em;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}